[user]
	name = Patrick Thomson
	email = patrick@helium.co
[push]
	default = simple
[core]
	trustctime = false
	excludesfile = /Users/patrickthomson/.gitignore
	ignorecase = true
[gc]
	auto = 0
[diff] 
	renames = copies
	mnemonicprefix = true
[alias]
	st = status
	co = checkout
	br = branch
	fixup = commit -a --amend -C HEAD
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
  ui = true
  push
[grep]
	lineNumber = true
[alias]
	st = status
	co = checkout
	br = branch
	reup = rebase @{u}
[rerere]
	enabled = 1
[branch]
	autosetupmerge = true
	autosetuprebase = always
[advice]
	statusHints = false
[interactive]
	singlekey = true
